# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
# Local configurations & env files
*.local.json
.env
.env.local
.env.*.local
secrets.json


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

bin
node_modules

# Visual Studio / MSBuild files
.vs/
[Bb]in/
[Oo]bj/

